[MASTER]
ignore=venv,.git,__pycache__,.pytest_cache
jobs=1

[MESSAGES CONTROL]
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0913,  # too-many-arguments
    R0914,  # too-many-locals
    W0212,  # protected-access
    C0301,  # line-too-long (handled by black)

[FORMAT]
max-line-length=100
indent-string='    '
max-module-lines=1000

[BASIC]
good-names=i,j,k,db,id,_,logger

[DESIGN]
max-args=7
max-attributes=10
max-bool-expr=5
max-branches=15
max-locals=20
max-parents=7
max-public-methods=25
max-returns=6
max-statements=60
min-public-methods=1
